a.skipnav {
	@include rem(11);
	display: block;
	padding: 5px 20px;
	color: $gray-600;
}

/* make images full width */
img.full {
	display: block;
	height: auto;
	width: 100%;
}

footer {
	min-height: 300px;
	height: auto;
	position: sticky;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 50px;
	background-color:#233577;
  margin-bottom: -100px;
  // border-bottom: 15px solid #e6e6e6;
	 ul {
		 list-style: none;
		 a {
			 padding: 4px;
			 font-size: 18px;
			 color: white;
			 text-align: center;
		 }
	 }
}

body {
	position: relative;
}

.black-triangle {
width: 0;
height: 0;
border-left: 100px solid transparent;  /* left arrow slant */
border-right: 100px solid transparent; /* right arrow slant */
border-bottom: 100px solid #08152a; /* bottom, add background color here */
font-size: 0;
line-height: 0;
position: absolute;
top: -100px;
left: 150px;
z-index: 5;
@media(max-width: 1023px) {
	border-left: 50px solid transparent;  /* left arrow slant */
	border-right: 50px solid transparent; /* right arrow slant */
	border-bottom: 50px solid #08152a; /* bottom, add background color here */
	top: -50px;
	left: 60%;
}
}

#triangle1 {
	opacity: 0;
}

.black-triangle2 {
width: 0;
height: 0;
border-left: 80px solid transparent;  /* left arrow slant */
border-right: 80px solid transparent; /* right arrow slant */
border-bottom: 80px solid #233577; /* bottom, add background color here */
font-size: 0;
line-height: 0;
position: absolute;
top: -60px;
right: 150px;
z-index: 5;
@media(max-width: 1023px) {
	display: none;
}
}



.white-triangle {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;  /* left arrow slant */
	border-right: 100px solid transparent; /* right arrow slant */
	border-bottom: 100px solid white; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: -97px;
	right: 20%;
	z-index: 5;
	@media(max-width: 1023px) {
		border-left: 50px solid transparent;  /* left arrow slant */
		border-right: 50px solid transparent; /* right arrow slant */
		border-bottom: 50px solid #dfe7ec; /* bottom, add background color here */
		top: -50px;
		right: 100px;
	}
}

.posts-wrapper {
	border: 2px solid black;
	padding: 100px 160px;
	background-color: whitesmoke;
}

.wow { visibility: hidden; }

.blue {
	background-color: blue;
}

.whitesmoke {
	background-color: whitesmoke;
}


.content-wrapper-main p {
  font-size: 30px;
  font-family: 'Londrina Solid', cursive;
  font-weight: 300;
}
