a.skipnav {
	@include rem(11);
	display: block;
	padding: 5px 20px;
	color: $gray-600;
}

/* make images full width */
img.full {
	display: block;
	height: auto;
	width: 100%;
}

footer {
	height: 300px;
	position: sticky;
	width: 100%;
	background-color: white;
	 box-shadow: 0px -10px 20px 0px rgba(0,0,0,0.1);
	 margin-bottom: -100px;
	 border-bottom: 15px solid #e6e6e6;
}

body {
	position: relative;
}
