.page-id-9 {
  font-family: 'Work Sans', sans-serif;
  position: relative;
  .wrapper {
    border-left: 20px solid #233577;
    border-right: 20px solid #BDBF09;
    padding-bottom: 40px;
  }
  .blackline {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: #BDBF09;
    z-index: 1111;
  }
  .black-block {
    opacity: 0;
    height: 70px;
   width: 120px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -100px;
    background-color: #233577;
    z-index: 9000;
    border-radius: 10px;
  }

  .black-block2{
    opacity: 0;
    height: 190px;
    width: 60px;
    position: fixed;
    top: 340px;
    left: 0px;
    background-color: #233577;
    z-index: 9000;
    border-bottom-right-radius: 50px;
    @media(max-width: 767px) {
    height: 90px;
    width: 50px;
    }
  }

.hero-wrapper {
  position: relative;
}

.panel {
    width: 100%;
    height: 100vh;
    border-top: none;
  }

  .join-image {
    margin: 0 auto;
    display: block;
    padding-top: 10px;
  }

  .learn {
    color: white;
    text-decoration: none !important;
    text-align: center !important;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    padding-top: 2px;
    letter-spacing: 3px;
    font-family: 'Londrina Solid', cursive;
    max-width: 160px;
    width: 100%;
    height: 42px;
    border: 3px solid white;
    transition: .3s ease-in all;
  }

  .learn:hover {
    text-decoration: none !important;
    background-color: white;
    color: #BDBF09;
  }

    .zero {
    background-color: black;
    position: relative;
    height: 70vh;
    @media(max-width: 767px) {
      height: 29vh;
    }
    video {
    position: relative;
    opacity: 0.5;
    width: 100%;
    }
    h1 {
      position: absolute;
      top: calc(52% - 100px);
      // text-transform: uppercase;
      letter-spacing: 4px;
      line-height: 70px;
      width: 100%;
      font-size: 145px;
      z-index: 7;
      text-align: center;
      color: #ffffd8;
      text-shadow: .5px .5px 41px black;
      font-family: 'Londrina Solid', cursive;
      font-weight: 900;
      opacity: 0;
      @media(max-width: 1024px) and (min-width: 767px) {
        font-size: 60px;
      }
      @media(max-width: 767px) {
        font-size: 30px;
        top: 75px;
        line-height: normal;
      }
      // .souls {
      //   color: black;
      //   text-shadow: none;
      //   text-shadow: .4px .4px 42px white;
      // }
    }
}


.panel.one {
background-color: #08152a !important;
position: relative;
margin-bottom: 700px;
@media(max-width: 767px) {
margin-top: -60px;
}
.image-front {
  position: absolute;
  top: 120px;
  z-index: 1;
  width: 80%;
  opacity: 0.5;
  left: 50%;
  margin-left: -40%;

}
.card-section {
  position: relative;
  z-index: 3;
  padding-top: 280px;
  margin-bottom: 300px;
  @media(max-width: 767px) {
  padding-top: 20px;
  }
    .card {
      transition: .3s ease-in;
      padding-top: 30px;
      box-shadow: 0 30px 50px 0 rgba(11,12,17,.3);
      height: 400px;
      opacity: 0;
      font-family: 'Work Sans', sans-serif;
      @media(max-width: 767px) {
      margin-top: 25px;
      }
     .card-text {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 18px;
      }
    .card-title {
      font-weight: 900;
      font-size: 26px;
    }
    #card1 {
      background-color: #FEF1B5 !important;
    }
    }
    @media(max-width: 767px) {
      #card2 {
        display: none;
      }
    }
  }
  .white-box-wrapper {
    @media(max-width: 767px) {
        display: none;
  }
    opacity: 0;
    background: url("../images/tealback.jpg") no-repeat;
    background-size: cover;
    max-width: 480px;
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: -200px;
    // top:calc(-10% - 90px);
    right: 5%;
    padding: 3%;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.45);
    z-index: 5;
    transition: 1s ease-in-out;
    h1 {
      color: white;
      font-size: 32px;
      line-height: 42px;
      font-family: 'Jockey One', sans-serif;
      margin-top: 20px !important;
      text-align: center;
      width: 80%;
      margin: 0 auto;
    }
}
// .white-box-wrapper:hover {
//   margin-right: 40px;
// }
}

.two {
  background: url("../images/blue3.jpg") center;
  // background-attachment: fixed;
  background-size: cover;
  padding-bottom: 300px !important;
  margin-bottom: 700px;
    .slider-wrapper {
      @media (min-width: 992px) {
        max-width: 80%;
      }
      width: 100%;
      margin: 0 auto;
      display: block;
      padding-top: 60px;
      padding-bottom: 40px;
      font-family: 'Work Sans', sans-serif;
      color: white;
      font-weight: 400;
      .wpsisac-slick-slider.design-5 .slick-image-slide .slide-wrap .slick-slider-short-content p {
        font-size: 22px;
        @media(max-width: 767px) {
        font-size: 16px !important;
      }
    }
}
.callout-three-wrapper {
  max-width: 1200px;
  width: 100%;
  height: auto;
  background: url("../images/white2.png") no-repeat center;
  background-size: cover;
  display: block;
  margin: 10px auto;
  padding: 3%;
  a {
    color: black;
    font-size: 22px;
    border: 2px solid black;
    padding: 6px 12px !important;
    margin-top: 30px !important;
    text-align: center !important;
    display: block;
    margin: 0 auto;
  }
  h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 20px;
  }
}
}


.three {
  background-color: white;
  border: 5px solid midnightblue;
  // background: url("../images/back.png") no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  padding-top: 80px;
}


.panel.four {
  background-color: #e2e3e6;
  background-size: cover;
  font-family: 'Londrina Solid', cursive;
  font-weight: 300;
  margin-bottom: 800px !important;
  position: relative;
  .c-one {
    position: absolute;
    top: -400px;
    left: 70px;
    z-index: 1;
    width: auto;
    height: auto;
  }
  .c-two {
    position: absolute;
    top: -300px;
    left:  20px;
    z-index: 1;
    width: auto;
    height: auto;
  }
  .v1{
    margin-top: -70px;
    width: 80%;
    height: auto;
  }
  // .wrap1 {
  //   margin-top: -200px;
  // }
  p {
    font-size: 24px;
    font-weight: 300;
    padding: 10%;
    padding-top: 2% !important;
  }
  .contact {
    margin: 9%;
  }
  .contact-form-wrapper {
    display: block;
    margin: 0 auto;
    max-width:88%;
    height: auto;
    width: 100%;
    padding: 3%;
    margin-top: 6% !important;
    background-color:  white;
    box-shadow: 0px 10px 30px 0px rgba(11,12,17,0.3);
    #gform_submit_button_1 {
      background-color:  #2292A4;
      padding: 2%;
      border: none !important;
      box-shadow: 3px 3px 9px 0px  rgba(11,12,17,0.2);
    }
  }

}



}
