.page-id-9 {
  font-family: 'Work Sans', sans-serif;
  position: relative;
  .wrapper {
    border-left: 20px solid #183649;
    border-right: 20px solid black;
    padding-bottom: 120px;
  }
  .blackline {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: black;
    z-index: 1111;
  }
  .black-block {
    opacity: 0;
    height: 70px;
   width: 120px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -100px;
    background-color: #183649;
    z-index: 9000;
    border-radius: 10px;
  }

  .black-block2{
    opacity: 0;
    height: 190px;
    width: 60px;
    position: fixed;
    top: 340px;
    left: 0px;
    background-color: #183649;
    z-index: 9000;
    border-bottom-right-radius: 50px;
    @media(max-width: 767px) {
    height: 90px;
    width: 50px;
    }
  }

.hero-wrapper {
  position: relative;
}



.panel {
    width: 100%;
    height: 100vh;
    border-top: none;
   // position: relative;
  }

.zero {
    background-color: #27363f;
    position: relative;
    height: 80vh;
    @media(max-width: 767px) {
      height: 28vh;
    }
    video {
    position: relative;
    opacity: 0.6;
    width: 100%;
    }
    h1 {
      position: absolute;
      top: 30%;
      bottom: 50%;
      width: 100%;
      font-size: 180px;
      z-index: 7;
      text-align: center;
      color:  white;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      opacity: 0;
      @media(max-width: 1024px) and (min-width: 767px) {
        font-size: 125px;
      }
      @media(max-width: 767px) {
        font-size: 80px;
      }
    }
}


.panel.one {
background-color: #BDBF09 !important;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eae4e1+100,f2e8e8+100 */
// background: #ffffff; /* Old browsers */
// /* IE9 SVG, needs conditional override of 'filter' to 'none' */
// background: -moz-linear-gradient(left, #ffffff 0%, #eae4e1 100%, #f2e8e8 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(left, #ffffff 0%,#eae4e1 100%,#f2e8e8 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to right, #ffffff 0%,#eae4e1 100%,#f2e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2e8e8',GradientType=1 ); /* IE6-8 */
margin-bottom: 400px;
position: relative;
@media(max-width: 767px) {
// height: 800px !important;
margin-bottom: 420px !important;
}
.card-section {
    padding-top: 220px;
    .card {
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.9);
      height: 400px;
      background-color: #C5EFCB;
      border: 9px solid black;
      opacity: 0;
      @media(max-width: 767px) {
      margin-top: 25px;
      }
    }
    @media(max-width: 767px) {
      #card2, #card3 {
        display: none;
      }
    }
  }
  .white-box-wrapper {
    background-color: #183649;
    // background: url("../images/design.png") no-repeat;
    // background-size: cover;
    max-width: 600px;
    height: 350px;
    width: 100%;
    position: absolute;
    top: -120px;
    right: 40px;
    padding: 3%;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.45);
    border: 5px solid black;
    p{
      margin-top: 10px;
      color: white;
    }
  }



}

.two {
  // background: rgb(0, 0, 0); /* Old Browsers */
  background: -webkit-linear-gradient(top,rgb(0, 0, 0),rgb(33,79,107)) !important; /*Safari 5.1-6*/
  background: -o-linear-gradient(top,rgb(0, 0, 0),rgb(33,79,107)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,rgb(0, 0, 0),rgb(33,79,107)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(33,79,107)) !important; /*Standard*/
  background-attachment: fixed;
  // background: url("../images/blue-wave2.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;
  background-size: 100% auto;
    .slider-wrapper {
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
      display: block;
      padding-top: 60px;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      color: white;
      .wpsisac-slick-slider.design-5 .slick-image-slide .slide-wrap .slick-slider-short-content p {
        font-size: 40px;
        line-height: 56px;
        @media(max-width: 767px) {
        font-size: 32px !important;
      }
    }
}
}


.three {
  background-color: #dfe7ec;
  background: url("../images/whiteback.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  padding-top: 80px;
  margin-bottom: 260px;
  .contact-form-wrapper {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 3%;
    background-color:  white;
    opacity: 0;
    box-shadow: 0px 30px 50px 0px rgba(11,12,17,0.7);
    #gform_submit_button_1 {
      background-color:  #2292A4;
      padding: 2%;
      border: none !important;
      box-shadow: 3px 3px 9px 0px  rgba(11,12,17,0.2);
    }
  }
}


.four {
  background: rgb(0, 0, 0); /* Old Browsers */
  background: -webkit-linear-gradient(top,rgb(0, 0, 0),rgb(33,79,107)); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,rgb(0, 0, 0),rgb(33,79,107)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,rgb(0, 0, 0),rgb(33,79,107)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(33,79,107)); /*Standard*/
    background-attachment: fixed;
  // height: 120vh !important;
    // .contact-form-wrapper {
    //   display: block;
    //   margin: 0 auto;
    //   max-width: 800px;
    //   width: 100%;
    //   padding: 7%;
    //   background-color:  white;
    // }
    .slider2 {
      margin-top: -20px;
    }
}


//
// .learn-more-section {
//   height: 200px;
//   width: 100%;
//   background-color: #e9e9e9;
//   a {
//     display: block;
//     margin: 0 auto;
//     margin-top: 20%;
//   }
// }

}
